<footer class="bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="footer_Content px-3">
                <div class="footerNav">
                    <div class="list_Group">
                        <ul class="navList">
                            <li><a href="#">首頁</a></li>
                            <li><a href="#">系列鏡框</a></li>
                            <li><a href="#">門市據點</a></li>
                            <li><a href="#">部落格</a></li>
                            <li><a href="#">常見問題</a></li>
                        </ul>
                        <ul class="socialList">
                            <li class="socialList-icon"><a href="#"><img src="../assets/images/ic-social-fb.png" alt="facebook"></a></li>
                            <li class="socialList-icon"><a href="#"><img src="../assets/images/ic_social_ig.png" alt="instagram"></a></li>
                            <li class="socialList-icon"><a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a></li>
                        </ul>
                    </div>
                    <div class="contactInfo">
                        <li class="contactInfo_List"><span class="material-symbols-outlined contactInfo_icon">call</span><a href="tel:+886-0800000000">0800-000-000</a></li>
                        <li class="contactInfo_List"><span class="material-symbols-outlined contactInfo_icon">mail</span><a href="mailto:glasses@business.com">glasses@business.com</a></li>                
                    </div>
                </div>
                <div class="copyright">
                    Copyright © 2020 Glasses.All rights reserved.
                    <ul>
                        <li><a href="#">隱私權政策</a></li>
                        <li><a href="#"></a>服務條款</li>
                    </ul>
                </div>
            </div>
    </div>
    </div>
</footer>