<header>
    <nav class="navbar bg-primary">
        <div class="container navbar-wrap">
          <a class="navbar-logo" href="index.html">
            <img src="../assets/images/logo-white.png" alt="logo" class="logo">
          </a>
          <ul class="navbar-nav">
            <li class="navbar-item"><a class="navbar-link" href="product.html">系列鏡框</a></li>
            <li class="navbar-item"><a class="navbar-link" href="store.html">門市據點</a></li>
            <li class="navbar-item"><a class="navbar-link" href="blog.html">部落格</a></li>
            <li class="navbar-item"><a class="navbar-link" href="question.html">常見問題</a></li>
          </ul>
        </div>
    </nav>
</header>