.fs-1, .fs-2, .fs-3, .fs-4, .fs-5, .fs-6 {
    letter-spacing: 0em;
}

.fs-1 {
    font-size: 16px;
}

.fs-2 {
    font-size: 20px;
}

.fs-3 {
    font-size: 24px;
}

.fs-4 {
    font-size: 32px;
}

.fs-5 {
    font-size: 40px;
}

.fs-6 {
    font-size: 48px;
}

.lh-2 {
    line-height: 30px;
}

.lh-3 {
    line-height: 32px;
}

.lh-4 {
    line-height: 36px;
}

.lh-6 {
    line-height: 48px;
}
 

.font-noto {
    font-family: "Noto Sans TC";
}

.font-roboto {
font-family: "Roboto";
}

.text-white {
    color: $white;
}

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-gray {
    color: $gray;
}

.text-emperor {
    color: $emperor;
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.bg-black {
    background: $black;
}

.bg-white {
    background: $white;
}

.bg-concrete {
    background-color: #f2f2f2;
}

.bg-pink {
    background: $pink;
}

.bg-primary {
    background: $primary;
}

.bg-darkred {
    background: $secondary;
}

.bg-transparent {
    background-color: transparent;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-start  {
    justify-content: start;
}

.justify-content-center  {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

@media (max-width: 768px) {
    .d-md-flex {
        display: flex;
    }

    .flex-md-row {
        flex-direction: row;
    }

    .flex-md-column {
        flex-direction: column;
    }

}


.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-none {
    display: none;
}

@media (max-width: 992px) {

    .d-lg-block {
        display: block !important;
    }

    .d-lg-inline-block {
        display: inline-block !important;;
    }

    .d-lg-none {
        display: none !important;
    }

    
}


@media (max-width: 768px) {

    .d-md-block {
        display: block !important;
    }

    .d-md-inline-block {
        display: inline-block;
    }

    .d-md-none {
        display: none !important;
    }

    
}

@media (max-width: 576px)  {
    .d-xs-none {
        display: none !important;
    }

    .d-xs-inline-block {
        display: inline-block;
    }
}

.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666667%;
}

.col-12 {
    width: 100%;
}

.gap-6 {
    gap: 24px;
}

@media (max-width: 768px) {

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.333333%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-sm-12 {
        width: 100%;
    }
}


@media (max-width: 576px) {

    .col-xs-12 {
      width: 100%;
    }

}
  


.col-offset-5 {
    margin-left: 41.666667%;
}

.col-offset-3 {
    margin-left: 25%;
}



.mx-auto {
    margin: 0 auto;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mb-8 {
    margin-bottom: 32px;
}

.mb-12 {
    margin-bottom: 48px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-1 {
    padding-bottom: 4px;
}

.pb-2 {
    padding-bottom: 8px;
}

.pb-4 {
    padding-bottom: 16px;
}

.pb-5 {
    padding-bottom: 20px;
}

.pb-6 {
    padding-bottom: 24px;
}

.pb-8 {
    padding-bottom: 32px;
}

.pb-9 {
    padding-bottom: 36px;
}

.pb-10 {
    padding-bottom: 40px;
}

.pb-12 {
    padding-bottom: 48px;
}

.pb-15 {
    padding-bottom: 60px;
}

.pb-20 {
    padding-bottom: 80px;
}

.pb-31 {
    padding-bottom: 124px;
}

.pt-1 {
    padding-top: 4px;
}

.pt-2 {
    padding-top: 8px;
}

.pt-4 {
    padding-top: 16px;
}

.pt-6 {
    padding-top: 24px;
}

.pt-24 {
    padding-top: 96px;
}

.py-1 {
    padding: 6px 0px;
}

.py-2 {
    padding: 8px 0px;
}

.py-4 {
    padding: 16px 0px;
}

.py-6 {
    padding: 24px 0px;
}

.py-20 {
    padding: 80px 0px;
}

.px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.px-6 {
    padding-left: 24px;
    padding-right: 24px;
}

.px-8 {
    padding-left: 24px;
    padding-right: 24px;
}

.ps-0 {
    padding-left: 0px;
}

.ps-1 {
    padding-left: 4px;
}

.ps-3 {
    padding-left: 12px;
}

.ps-8 {
    padding-left: 24px;
}

.me-auto {
    margin-left: auto;
}

.ms-3 {
    margin-left: 12px;
}

.me-2 {
    margin-right: 8px;
}
    
.me-3 {
    margin-right: 12px;
}

.me-4 {
    margin-right: 16px;
}

.me-6 {
    margin-right: 24px;
}


@media (max-width: 992px) {

    .mb-md-6 {
        margin-bottom: 24px;
    }

    .mb-md-9 {
      margin-bottom: 36px;
    }

    .me-md-6 {
        margin-right: 24px;
    }

    .pt-md-20 {
        padding-top: 80px;
    }

    .pb-md-20 {
        padding-bottom: 80px;
    }


    .pb-md-10 {
        padding-bottom: 40px;
    }
    
    .px-md-6 {
        padding: auto 24px;
    }

}

@media (max-width: 576px) {

    .mb-xs-6 {
        margin-bottom: 24px;
    }

    .py-xs-6 {
        padding: 24px 0px;
    }

    .py-xs-10 {
        padding: 40px 0px;
    }

    .xs-md-6 {
        margin-bottom: 24px;
    }

    .pb-xs-0 {
        padding-bottom: 0px;
    }

    .pb-xs-4 {
        padding-bottom: 16px;
    }
  
    .pb-xs-6 {
        padding-bottom: 24px;
    }

    .pb-xs-8 {
        padding-bottom: 32px;
    }

    .pt-xs-10 {
        padding-top: 40px;
    }

    .pb-xs-16 {
        padding-bottom: 64px;
    }

}


.border-1 {
    border: 1px solid #000000;
}

.border-2 {
    border: 1px solid #00000020;
}

.border-bottom-2 {
    border-bottom: 1px solid #00000020;
}

.border-3 {
    border-bottom: 1px solid $gray;
}


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}


.w-50 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}